.wc-dimension-picker {
    width: 90%;

    border: 1px solid #666666;
    background-color: #333333;
    padding-left: 2px;
    height: 24px;
    color: white;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wc-dimension-picker-error {
    border: 1px solid red;
}

.wc-dimension-picker-input-span {
    display: inline-block;
    width: calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    height: 20px;

    vertical-align: top;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wc-dimension-picker-input {
    width: 100%;
    height: 20px;
    color: white;
    border: none;
    background-color: transparent;
}

.wc-dimension-picker-unit-span {
    display: inline-block;
    width: 15px;

    margin-left: 3px;
    vertical-align: top;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wc-dimension-picker-unit {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    color: white;
    width: 15px;
    height: 20px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wc-dimension-picker-number-span {
    display: inline-block;
    width: 15px;

    vertical-align: top;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wc-dimension-picker-number-container {
    height: 12px;
    width: 15px;
    text-align: center;
    cursor: pointer;
    padding-top: 0;

    vertical-align: top;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wc-dimension-picker-number-container:hover {
    background-color: #555555;
}



.wc-select-wrapper {
    width: 90%;

    border: 1px solid #666666;
    background-color: #333333;
    padding: 2px;
    height: 24px;
    color: white;
}

.wc-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    color: white;
    /*width: calc(100% - 15px);
    width: -webkit-calc(100% - 15px);*/
    width: 100%;
    height: 18px;

    display: inline-block;
}

.wc-select-button {
    height: 18px;
    width: 15px;
    text-align: center;
    cursor: pointer;
    margin-top: -1px;
    padding-top: 4px;

    display: inline-block;
}

.wc-select-button:hover {
    background-color: #555555;
}


.wc-settings-frame {
    border: 1px solid #666666;
    background-color: #444444;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 6px;
    padding-bottom: 8px;
    color: white;
}